/* .availabilities-calendar {
  animation: slideInFromTop 0.75s ease-in-out;
  animation-fill-mode: forwards;
}

/* cubic-bezier for a little bounce to the top */
/* @keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(10%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
} */
