@tailwind base;
@tailwind components;
@tailwind utilities;

/* =======================
SECTION === 'PRIMARY BUTTONS' === SECTION
======================= */
@layer components {
  .btn-primary {
    @apply px-6 py-2 bg-[#F2FDFF] rounded-[26px] text-[#564787]  w-[180px]  shadow-primary active:shadow-none active:translate-y-2 font-semibold transition-all duration-300 relative;
  }
}

button {
  overflow: hidden;
}

.btn-primary::before {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.872);
  top: -80px;
  left: -20%;
  width: 40px;
  height: 400%;
  transform: rotate(15deg);
  transition: all 0.8s ease;
}

.btn-primary::after {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.858);
  top: -80px;
  left: -20%;
  width: 40px;
  height: 400%;
  transform: rotate(15deg);
  transition: all 1.5s ease;
}

button[class*='btn']:hover::before {
  transform: rotate(15deg) translateX(300px);
}

button[class*='btn']:hover::after {
  transform: rotate(15deg) translateX(300px);
}

/* =======================
SECTION === 'SECONDARY BUTTONS' === SECTION
======================= */

@layer components {
  .btn-secondary {
    @apply px-6 py-2 bg-[#101935] rounded-[26px] text-[#F2FDFF] w-[180px] shadow-secondary active:shadow-none active:translate-y-2 font-semibold transition-all duration-300 relative;
  }
}

/* =======================
SECTION === 'MOBILE NAV BUTTONS' === SECTION
======================= */

.mobile-nav__button {
  @apply relative z-20 flex items-center justify-center w-20 h-20 p-4 transition-all duration-300 bg-white rounded-full;
}

.mobile-nav__button.active {
  @apply -translate-y-4 border-2 shadow-xl border-[#56478784];
}
