@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'buttons.css';

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700&display=swap');

/* colors */

/* primary-violet = #564787
pinkish-violet = #DBCBD8
azure = #F2FDFF
powder blue = #9AD4D6
oxford blue = #101935 */

/* =======================
SECTION === 'GLOBAL' === SECTION
======================= */
html,
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.08em;
  font-family: 'Dosis', sans-serif;
}

/* =======================
SECTION === 'UTILITY CLASSES' === SECTION
======================= */

.text-shadow {
  text-shadow: 2px 2px 1px #dbcbd8;
}

/* =======================
SECTION === 'CHECKMARK' === SECTION
======================= */

.checkmark {
  stroke: #f2fdff;
  width: 100px;
  height: 100px;
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  animation: dash 3s ease-out forwards;
}

.wrapper {
  width: 100px;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
